<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.arslan.qrcode">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA"></uses-permission>
    <uses-feauter android:name="android.hardware.camera" />
    <uses-feauter android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/thebigger"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity
            android:name=".SplashScreen"
            android:theme="@style/mySplash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".Main"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait"
             />
        <activity android:name=".ShowData" />
        <activity android:name=".QrPrint" />
        <activity android:name=".RePrint" />
        <activity android:name=".AboutPage" />
        <activity android:name=".ProfileSetting" />
        <activity android:name=".ChangePassword"></activity>
    </application>

</manifest>